@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 3s;
  animation-delay: 1s;
  opacity: 0;
}

.animate-fadeInLeftLoading1 {
  animation-name: fadeInLeft;
  animation-duration:.2s;
  animation-delay: .1s;
  opacity: 0;
}

.animate-fadeInLeftLoading2 {
  animation-name: fadeInLeft;
  animation-duration: .4s;
  animation-delay: .2s;
  opacity: 0;
}

.animate-fadeInLeftLoading3 {
  animation-name: fadeInLeft;
  animation-duration: .6s;
  animation-delay: .3s;
  opacity: 0;
}

.animate-fadeInLeftLoading4 {
  animation-name: fadeInLeft;
  animation-duration: .8s;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-delay: 1s;
  opacity: 0;
}

.animate-fadeIn-Avatar {
  animation-name: fadeIn;
  animation-duration: 7s;
  animation-delay: 1s;
  opacity: 0;
}

.animate-fadeIn-TopText {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  opacity: 0;
}

body {
  background: black;
  color: white;
  /*overflow: hidden;*/
}

.animate-fadeIn, .animate-fadeIn-Avatar, .animate-fadeIn-TopText, .animate-fadeInLeft {
  animation-delay: 0s;
  opacity: 1;
}

.flip {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip.flipped {
  transform: rotateY(180deg);
}

.flip > div {
  backface-visibility: hidden;
}

.flip img {
  transform: rotateY(180deg);
}

.tbWaves {
  --mask:
          radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
          radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
          radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
          radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.woolBall {
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background: aqua;
  border: 1px solid white;
}

